name: Release-Advanced

on:
  push:
    paths:
      - update_trigger.json
  workflow_dispatch:

env:
  VPM_Repository: lilToonMore

jobs:
  extract-semantic-version:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      major: ${{ steps.extract_version.outputs.major }}
      minor: ${{ steps.extract_version.outputs.minor }}
      patch: ${{ steps.extract_version.outputs.patch }}
      update_major: ${{ steps.extract_version.outputs.update_major }}
      update_minor: ${{ steps.extract_version.outputs.update_minor }}
      update_patch: ${{ steps.extract_version.outputs.update_patch }}
      package_major: ${{ steps.extract_version.outputs.package_major }}
      package_minor: ${{ steps.extract_version.outputs.package_minor }}
      package_patch: ${{ steps.extract_version.outputs.package_patch }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
      - name: Fetch all tags
        run: git fetch --tags
      - name: Describe latest tag
        id: describe_latest_tag
        run: |
          tag=$(git describe --tags `git rev-list --tags --max-count=1`) 2>/dev/null || {
          echo "❌ Error: Terminated"
          echo "Reason: Tag not found"
          exit 1
          }
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
      - id: extract_version
        run: |
          tag=${{ steps.describe_latest_tag.outputs.tag }}
          tag_without_v=${tag#v}
          
          MAJOR=$(echo $tag_without_v | cut -d. -f1)
          MINOR=$(echo $tag_without_v | cut -d. -f2)
          PATCH=$(echo $tag_without_v | cut -d. -f3 | cut -d- -f1)
          
          echo "major=$MAJOR" >> "$GITHUB_OUTPUT"
          echo "minor=$MINOR" >> "$GITHUB_OUTPUT"
          echo "patch=$PATCH" >> "$GITHUB_OUTPUT"
          
          echo "Detected Version: $MAJOR.$MINOR.$PATCH"
          
          UPDATE_VERSION=$(jq -r '.version' ./update_trigger.json) 2>/dev/null || {
          echo "❌ Error: Terminated"
          echo "Reason: Version not found"
          exit 1
          }
          UPDATE_VERSION_NO_V=${UPDATE_VERSION#v}
          
          UPDATE_MAJOR=$(echo $UPDATE_VERSION_NO_V | cut -d. -f1)
          UPDATE_MINOR=$(echo $UPDATE_VERSION_NO_V | cut -d. -f2)
          UPDATE_PATCH=$(echo $UPDATE_VERSION_NO_V | cut -d. -f3 | cut -d- -f1)
          
          echo "update_major=$UPDATE_MAJOR" >> "$GITHUB_OUTPUT"
          echo "update_minor=$UPDATE_MINOR" >> "$GITHUB_OUTPUT"
          echo "update_patch=$UPDATE_PATCH" >> "$GITHUB_OUTPUT"
          
          echo "Detected Update Version: $UPDATE_MAJOR.$UPDATE_MINOR.$UPDATE_PATCH"
          
          PACKAGE_VERSION=$(jq -r '.version' ./package.json) 2>/dev/null || {
          echo "❌ Error: Terminated"
          echo "Reason: Version not found"
          exit 1
          }
          PACKAGE_VERSION_NO_V=${PACKAGE_VERSION#v}
          
          PACKAGE_MAJOR=$(echo $PACKAGE_VERSION_NO_V | cut -d. -f1)
          PACKAGE_MINOR=$(echo $PACKAGE_VERSION_NO_V | cut -d. -f2)
          PACKAGE_PATCH=$(echo $PACKAGE_VERSION_NO_V | cut -d. -f3 | cut -d- -f1)
          
          echo "package_major=$PACKAGE_MAJOR" >> "$GITHUB_OUTPUT"
          echo "package_minor=$PACKAGE_MINOR" >> "$GITHUB_OUTPUT"
          echo "package_patch=$PACKAGE_PATCH" >> "$GITHUB_OUTPUT"
          
          echo "Detected Package Version: $PACKAGE_MAJOR.$PACKAGE_MINOR.$PACKAGE_PATCH"
          

  release:
    permissions:
      contents: write
    name: Release-Advanced
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs: extract-semantic-version
    env:
      MAJOR: ${{ needs.extract-semantic-version.outputs.major }}
      MINOR: ${{ needs.extract-semantic-version.outputs.minor }}
      PATCH: ${{ needs.extract-semantic-version.outputs.patch }}
      UPDATE_MAJOR: ${{ needs.extract-semantic-version.outputs.update_major }}
      UPDATE_MINOR: ${{ needs.extract-semantic-version.outputs.update_minor }}
      UPDATE_PATCH: ${{ needs.extract-semantic-version.outputs.update_patch }}
      PACKAGE_MAJOR: ${{ needs.extract-semantic-version.outputs.package_major }}
      PACKAGE_MINOR: ${{ needs.extract-semantic-version.outputs.package_minor }}
      PACKAGE_PATCH: ${{ needs.extract-semantic-version.outputs.package_patch }}
      
      
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true

      - name: Version check
        run: |
          if [[ ${{ env.UPDATE_MAJOR }} -lt ${{ env.MAJOR }} ]] || \
             [[ ${{ env.UPDATE_MAJOR }} -eq ${{ env.MAJOR }} && ${{ env.UPDATE_MINOR }} -lt ${{ env.MINOR }} ]] || \
             [[ ${{ env.UPDATE_MAJOR }} -eq ${{ env.MAJOR }} && ${{ env.UPDATE_MINOR }} -eq ${{ env.MINOR }} && ${{ env.UPDATE_PATCH }} -lt ${{ env.PATCH }} ]]; then
            echo "Update Version: ${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}"
            echo "Current Version: ${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}"
            echo "❌ Error: Terminated"
            echo "Reason: Downgrades are not allowed"
            exit 1
          fi
          if [ ${{ env.UPDATE_MAJOR }} -eq ${{ env.MAJOR }} ] && [ ${{ env.UPDATE_MINOR }} -eq ${{ env.MINOR }} ] && [ ${{ env.UPDATE_PATCH }} -eq ${{ env.PATCH }} ]; then
            echo "Update Version: ${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}"
            echo "Current Version: ${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}"
            echo "❌ Error: Terminated"
            echo "Reason: Versions are the same"
            exit 1
          fi
          echo "NAME=$(jq -r '.name' ./package.json)" >> $GITHUB_ENV

      - name: Update version
        run: |
          LATEST_ID=$(git rev-parse HEAD)
          CHANGELOG_URL="https://github.com/${{ github.repository }}/blob/$LATEST_ID/CHANGELOG.txt"
          LICENSE_URL="https://github.com/${{ github.repository }}/blob/$LATEST_ID/LICENSE"
          URL="https://github.com/${{ github.repository }}/releases/download/${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}/${{ env.NAME }}-${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}.zip?"
          jq '.version = "${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}"' ./package.json
          jq '.changelogUrl = "$CHANGELOG_URL"' ./package.json
          jq '.licensesUrl = "$LICENSE_URL"' ./package.json
          jq '.url = "$URL"' ./package.json
          cat package.json
          exit 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create zip file
        uses: somaz94/compress-decompress@v1
        with:
          command: compress
          source: ${{ github.workspace }}/
          dest: './dist'
          destfilename: '${{ env.NAME }}-${{ env.UPDATE_MAJOR }}.${{ env.UPDATE_MINOR }}.${{ env.UPDATE_PATCH }}'
          exclude: '.git .github .gitattributes .gitignore dist'
          format: zip
          includeRoot: 'false'

      - name: Extract release info
        id: metadata
        run: |
          exit 1
          echo "title=$(git tag -l --format '%(subject)' ${{ github.ref_name }})" >> $GITHUB_OUTPUT
          echo "release_note<<EOF" >> $GITHUB_OUTPUT
          git tag -l --format '%(contents:body)' ${{ github.ref_name }} >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        run: |
          exit 1
          gh release create ${{ github.ref_name }} \
            --title "${{ steps.metadata.outputs.title }}" \
            --notes "${{ steps.metadata.outputs.release_note }}" \
            ./dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger VPM Repository Workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT_FOR_DISPATCH }}
          repository: ${{ github.repository_owner }}/${{ env.VPM_Repository }}
          event-type: update-vpm
