name: Release-Advanced

on:
  push:
    tags:
      - '*.*.*'

env:
  VPM_Repository: lilToonMore

jobs:
  release:
    name: Release-Advanced
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Pull tags
        run: git fetch --tags --force

      - name: package.json version check
        run: |
          echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV
          if [$VERSION != ${{github.ref_name}}]; then
            echo "âŒ Error: Version $VERSION package.json version mismatch"
            exit 1
          fi
          echo "NAME=$(jq -r '.version' package.json)" >> $GITHUB_ENV

      - name: Create zip file
        uses: somaz94/compress-decompress@v1
        with:
          command: compress
          source: ${{ github.workspace }}/
          dest: './dist'
          destfilename: '${{env.NAME}}-${{github.ref_name}}'
          exclude: '.git .github .gitattributes .gitignore dist'
          format: zip
          includeRoot: 'false'

      - name: Extract release info
        id: metadata
        run: |
          echo "title=$(git tag -l --format '%(subject)' ${{github.ref_name}})" >> $GITHUB_OUTPUT
          echo "release_note<<EOF" >> $GITHUB_OUTPUT
          git tag -l --format '%(contents:body)' ${{github.ref_name}} >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        run: |
          gh release create ${{github.ref_name}} \
            --title "${{ steps.metadata.outputs.title }}" \
            --notes "${{ steps.metadata.outputs.release_note }}" \
            ./dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger VPM Repository Workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT_FOR_DISPATCH }}
          repository: ${{github.repository_owner}}/${{env.VPM_Repository}}
          event-type: update-vpm
